$timelineCol: #ffd5a4;
.line {
    position: absolute;
    z-index: 10;

    width:3px;
    top:0px;
    bottom:0px;
    background-color: $timelineCol;
    
}

.circle {
    position: relative;
    background: $timelineCol;
    border-radius: 50%;
}
.bead {

    width: 4rem;
    height: 4rem;
    z-index: 999;

}

.beadTip {
    
    width: 2rem;
    height: 2rem;
}