.active:not(#homeLink) {
background-color: #b9ced6;



border-radius: 10px;
}

@media (prefers-color-scheme: dark) {
    .active:not(#homeLink) {
       
        
        
        
        border-radius: 10px;
        }
}



